{% extends "bst_base.html" %}
        <style>
            a{
	               color:#CCC;
                    }
            a:hover, a:active {
                display: block;
                float: left;
                text-decoration: none;
                text-decoration: underline;
                color:#00F;
            }
            a, a:visited {
                display: block;
                float: left;
                text-decoration: none;
                text-align: center;
                color:#CCC;
            }
        </style>
        {% block username %}
            {{full_name}}
        {% endblock %}

        {% block content %}
            <h3> Chào mừng bạn quay trở lại với Chosinhvien.vn bấm vào <a href="/show/all/"> đây</a> để tiếp tục mua bán</h3>
        {% endblock %}